.vscode/
apps/activation/output/
examples/dqn_maze/output/
examples/maze/output/
examples/xor/output/
examples/kan_xor/output/
examples/gru_xor/output/
examples/lstm_sinusoid/output/
examples/kws_cortex_m/output/
examples/predictive_maintenance/output/
examples/pytorch/xor/input/
examples/pytorch/xor/output/
unit_test/qformat/output/
unit_test/qlearn/output/
unit_test/nn/output/
unit_test/kan/output/
